include block_html/_style.pug
include block_html/_include.pug

+header()
.content
	.bread-wrap
		.main-cont.main-cont--gray
			.content-tool
				.breadcrumbs
					-
						var items = [
						'Главная',
						'Одежда',
						'Жакеты и пиджаки',
						'Жакеты',
						'Жакет - Perfect Mango'
						];
					each item in items
						a(href="#").breadcrumbs__el #{item}
				a(href="#").back
					+icon("dirrect","icon")
					.back__text Вернуться в каталог
	.toggle-item
		.main-cont
			.toggle-item__wrap
				a(href="#").toggle-item__el.toggle-item__el--left
					.toggle-item__el-img(style="background-image:url('img/item-1.jpg')")
					.toggle-item__icon
						+icon("arrow-left","icon")
					.toggle-item__text Костюм Адель с Брюками Беж
				a(href="#").toggle-item__el.toggle-item__el--right
					.toggle-item__el-img(style="background-image:url('img/item-1.jpg')")
					.toggle-item__text Костюм Адель с Брюками Беж
					.toggle-item__icon
						+icon("arrow-right","icon")
	.main-cont.main-cont--gray
		.card-head
			.card-head__slider
				.card-head__img
					.card-img
						.card-img__main-wrap
							.card-img__main-control
								.card-img__main-control__el.card-img__main-control__el--prev
									+icon("arrow-left","icon")
								.card-img__main-control__el.card-img__main-control__el--next
									+icon("arrow-right","icon")
							.card-img__main
								.card-img__carousel-el
									.card-img__carousel(style="background-image:url('img/item-1.jpg')")
								.card-img__carousel-el
									.card-img__carousel(style="background-image:url('img/item-2.jpg')")
								.card-img__carousel-el
									.card-img__carousel(style="background-image:url('img/item-6.jpg')")
								.card-img__carousel-el
									.card-img__carousel(style="background-image:url('img/item-7.jpg')")
								.card-img__carousel-el
									.card-img__carousel(style="background-image:url('img/item-5.jpg')")
						.card-img-row
							- for (var i=0;i<3;i++)
								.card-img__el(style="background-image:url('img/item-2.jpg')" data-index="1")
									.card-img__filter
								.card-img__el(style="background-image:url('img/item-3.jpg')" data-index="2")
									.card-img__filter
								.card-img__el(style="background-image:url('img/item-4.jpg')" data-index="3")
									.card-img__filter
								.card-img__el(style="background-image:url('img/item-5.jpg')" data-index="4")
									.card-img__filter
				.card-param
					.card-param__text Рост модели: 174 см
					.card-param__text Размер на модели: 44

				.card-timer
					.card-timer__info
						.card-timer__info-title Этот товар <br> учавствует в акции!
						a(href="#").card-timer__info-link
							u Смотреть все товары из акции
					.card-timer__val
						.card-timer__val-clock
							span.timer(data-minutes-left=360)

						.card-timer__val-text до конца <br> акции
			.card-head__info
				.card-about
					.card-title Жакет - PERFECT Mango
					.card-tool
						.card-price
							.card-price--false
								span 6 200
								.rub a
							.card-price--true
								span 4 960
								.rub a
							.card-price--sale 0,5%
						.card-advant
							a(href="#").card-advant__el
								.card-advant__icon
									+icon("car","icon")
								.card-advant__text Бесплатная доставка
							a(href="#").card-advant__el
								.card-advant__icon
									+icon("card","icon")
								.card-advant__text Оплата товара
						.card-filter
							.card-filter__size
								select.select-beauty.select--order
									option
										span.order-size-name Размер:
										span XXL
									option
										span.order-size-name Размер:
										span XL
									option
										span.order-size-name Размер:
										span SM
							a(href="#").card-filter__how
								u Как выбрать <br> размер?



						.card-color
							.card-color__text Доступные цвета:
							.card-color__list
								.filter__color
									-  var items = ['#ed4e50','#b85ec9','#4c51c9','rgb(125, 204, 237)','#74d99e','#accb4d','#e8e85a','#f49e41','#b65737','#c1c1c1','#000000'];
									each item in items
										.filter__color-el(style="background-color:" + item )
											.filter__color-ico
												+icon("Check","icon")
									.filter__color-el.filter__color-el--white
										.filter__color-ico
											+icon("Check","icon")

						.card-get
							.card-get__btn В КОРЗИНУ
							.card-get__like
								+icon("like","icon")
						a(href="#").card-one-click Купить в 1 клик
						a(href="#").card-applepay
							span купить с apple pay
							+icon("apple","icon")
				.card-val
					.card-val__title О товаре
					.card-attr__cont
						- for (var i=0;i<5;i++)
						mixin card-attr(name,val)
							.card-attr-row
								.card-attr-row__cont
									.card-attr-title=name
									.card-attr-dot
								.card-attr-value=val
						+card-attr('Состав:','Полиэстер - 100%')
						+card-attr('Материал подкладки:','Полиэстер - 95%')
						+card-attr('Узор:','Однотонный')
						+card-attr('Рост модели на фото:','177')
						+card-attr('Длина:','56 см')
						+card-attr('Цвет: :','Синий')
						+card-attr('Застежка:','на молнии')
						+card-attr('Детали одежды:','рюши/воланы')
						+card-attr('Артикул:','MA002EWWFA76')
					.card-val-all
						u Посмотреть все характеристики

	.insta
		.main-cont
			.insta-title insta образы
			.insta-wrap
				- for (var i=0;i<3;i++)
					a(href="#" style="background-image:url('img/insta.jpg')").insta-el
						.insta-info
							.insta-info__title @vegasundsky
							.insta-info__get
								+icon("bag","icon")
							.insta-info__footer
								.insta-info__footer-el
									.insta-info__icon
										+icon("like","icon")
									.insta-info__text 250
								.insta-info__footer-el
									.insta-info__icon
										+icon("comment","icon")
									.insta-info__text 250
	.main-cont
		.card-descr-warp
			.card-descr-cont
				.card-descr
					.card-tab-head.card-tab-head--half
						.card-tab__el.card-tab__el--active(data-tab="tab-one") Описание
						.card-tab__el(data-tab="tab-two") Доставка
						.card-tab__el(data-tab="tab-three") Оплата
						.card-tab__el(data-tab="tab-four") Вопросы
						.card-tab__el(data-tab="tab-five") Отзывы
					.card-attr.card-attr--active(data-tab="tab-one")
						.card-attr__text Асимметричная застежка на молнию. Подплечники. Длинные рукава. Подкладка. Новый фасон цвет и текстура
						.card-attr__cont.card-attr__cont--half
							- for (var i=0;i<5;i++)
							mixin card-attr(name,val)
								.card-attr-row
									.card-attr-row__cont
										.card-attr-title=name
										.card-attr-dot
									.card-attr-value=val
							+card-attr('Состав:','Полиэстер - 100%')
							+card-attr('Материал подкладки:','Полиэстер - 95%, Эластан - 5%')
							+card-attr('Узор:','Однотонный')
							+card-attr('Рост модели на фото:','177')
							+card-attr('Длина:','56 см')
							+card-attr('Цвет: :','Синий')
							+card-attr('Застежка:','на молнии')
							+card-attr('Детали одежды:','рюши/воланы')
							+card-attr('Артикул:','MA002EWWFA76')
					.card-attr(data-tab="tab-two")
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ut aliquam illo sed tempora, unde veniam incidunt consequuntur placeat eligendi animi facere voluptate consectetur alias non impedit tenetur reprehenderit quaerat.
					.card-attr(data-tab="tab-three")
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ut aliquam illo sed tempora, unde veniam incidunt consequuntur placeat eligendi animi facere voluptate consectetur alias non impedit tenetur reprehenderit quaerat.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ut aliquam illo sed tempora, unde veniam incidunt consequuntur placeat eligendi animi facere voluptate consectetur alias non impedit tenetur reprehenderit quaerat.
					.card-attr(data-tab="tab-four")
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ut aliquam illo sed tempora, unde veniam incidunt consequuntur placeat eligendi animi facere voluptate consectetur alias non impedit tenetur reprehenderit quaerat.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ut aliquam illo sed tempora, unde veniam incidunt consequuntur placeat eligendi animi facere voluptate consectetur alias non impedit tenetur reprehenderit quaerat.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ut aliquam illo sed tempora, unde veniam incidunt consequuntur placeat eligendi animi facere voluptate consectetur alias non impedit tenetur reprehenderit quaerat.
					.card-attr(data-tab="tab-five")
						.card-attr-review
							.card-attr-review-cont
								- for (var j=0;j<4;j++)
									.card-review__el
										.card-review__head
											.card-review__info
												.card-review__name Валентина
												.card-review__stars
													- for (var i=0;i<4;i++)
														.card-review__stars-el.card-review__stars---true
															+icon("star","icon")
													.card-review__stars-el.card-review__stars---false
															+icon("star","icon")
											.card-review__date 25 Октября 2017
										.card-review__text
											p На параметры 92-80-106 см рост 168 см заказывала размер 36/38 подошла хорошо и в ширину и в длину к брючкам и туфлям серого цвета. Перед футболочки из сатина, сзади трикотаж, цвет розовый как на фото, нежный и красивый. Осталась довольна!
										.card-review__img
											- for (var k=0;k<4;k++)
												.card-review__img-el(style="background-image:url('img/item-8.jpg')")
							.card-attr-review-add
								.card-review-add
									.card-review-add__title Мы хотим услышать Ваше мнение
									.card-review-add__text Размести отзыв и получи промокод на скидку 10%
									a(href="#").card-review-add__get Оставить отзыв
	.canlike
		.main-cont
			.canlike--title Вам так же может понравиться
			.canlike-wrap
				+item()
				+item()
				+item()
				+item()
	
	.main-cont
		.trust
			.trust__text Нам <br> доверяют
			.trust__logo
				.trust__logo__el
					img(src="img/trust-el-1.png", alt="название компании" title="Название компании")
				.trust__logo__el
					img(src="img/trust-el-2.png", alt="название компании" title="Название компании")
				.trust__logo__el
					img(src="img/trust-el-3.png", alt="название компании" title="Название компании")
				.trust__logo__el
					img(src="img/trust-el-4.png", alt="название компании" title="Название компании")
				.trust__logo__el
					img(src="img/trust-el-5.png", alt="название компании" title="Название компании")
	//.main-cont
		.links
			-
				var items = [
				'Жакеты',
				'Пиджаки',
				'Длинные платья',
				'Короткие платья',
				'Юбки',
				'Красные платья',
				'Джинсы',
				'Распродажа',
				'Новинки',
				'Тапочки',
				'Шляпы',
				'Сарафаны',
				'Популярное',
				'Скидки',
				'Синий',
				'Желтый',
				'К лету',
				'Большой размер'
				];
			each item in items
				a(href="#").links-el.link--mark #{item}

+footer()
include ./block_html/_script.pug
